In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

# Import our input dataset
tele_df = pd.read_csv('bank_telemarketing.csv')
tele_df.head()

,Age,Job,Marital_Status,Education,Default_Credit,Housing_Loan,Personal_Loan,Subscribed
0,56,other,married,Primary_Education,no,no,no,no
1,37,services,married,Secondary_Education,no,yes,no,no
2,40,admin,married,Primary_Education,no,no,no,no
3,56,services,married,Secondary_Education,no,no,yes,no
4,59,admin,married,Professional_Education,no,no,no,no

In [2]:
# Generate our categorical variable list
tele_cat = tele_df.dtypes[tele_df.dtypes == "object"].index.tolist()


# Check the number of unique values in each column
tele_df[tele_cat].nunique()

Job               9
Marital_Status    3
Education         4
Default_Credit    2
Housing_Loan      2
Personal_Loan     2
Subscribed        2
dtype: int64

In [3]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(tele_df[tele_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(tele_cat)
encode_df.head()

,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,Marital_Status_divorced,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [4]:
# Merge one-hot encoded features and drop the originals
tele_df = tele_df.merge(encode_df,left_index=True, right_index=True)
tele_df = tele_df.drop(tele_cat,1)
tele_df.head()

,Age,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,56,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,40,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,59,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [5]:
# Remove loan status target from features data
y = tele_df.Subscribed_yes.values
X = tele_df.drop(columns=["Subscribed_no","Subscribed_yes"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [6]:
# Create the SVM model
svm = SVC(kernel='linear')

In [7]:
# Train the model
svm.fit(X_train, y_train)

SVC(kernel=&#39;linear&#39;)

In [8]:
# Evaluate the model
y_pred = svm.predict(X_test_scaled)
print(f" SVM model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 SVM model accuracy: 0.873

In [10]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  10
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [12]:
# Train the model 
fit_model = nn.fit(X_train_scaled, y_train, epochs=50) 
# Evaluate the model using the test data 
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
22857/22857 [==============================] - 2s 74us/sample - loss: 0.4153 - acc: 0.8582
Epoch 2/50
22857/22857 [==============================] - 1s 50us/sample - loss: 0.3724 - acc: 0.8735
Epoch 3/50
22857/22857 [==============================] - 1s 44us/sample - loss: 0.3701 - acc: 0.8735
Epoch 4/50
22857/22857 [==============================] - 1s 39us/sample - loss: 0.3688 - acc: 0.8735
Epoch 5/50
22857/22857 [==============================] - 1s 39us/sample - loss: 0.3678 - acc: 0.8735
Epoch 6/50
22857/22857 [==============================] - 1s 36us/sample - loss: 0.3667 - acc: 0.8735
Epoch 7/50
22857/22857 [==============================] - 1s 39us/sample - loss: 0.3664 - acc: 0.8733
Epoch 8/50
22857/22857 [==============================] - 1s 38us/sample - loss: 0.3657 - acc: 0.8735
Epoch 9/50
22857/22857 [==============================] - 1s 36us/sample - loss: 0.3655 - acc: 0.8735
Epoch 10/50
22857/22857 [==============================] - 1s 36us/sample - loss: 0.3648 - acc: 0.8733
Epoch 11/50
22857/22857 [==============================] - 1s 38us/sample - loss: 0.3647 - acc: 0.8737
Epoch 12/50
22857/22857 [==============================] - 1s 38us/sample - loss: 0.3641 - acc: 0.8735
Epoch 13/50
22857/22857 [==============================] - 1s 36us/sample - loss: 0.3642 - acc: 0.8731
Epoch 14/50
22857/22857 [==============================] - 1s 36us/sample - loss: 0.3639 - acc: 0.8730
Epoch 15/50
22857/22857 [==============================] - 1s 36us/sample - loss: 0.3637 - acc: 0.8735
Epoch 16/50
22857/22857 [==============================] - 1s 36us/sample - loss: 0.3634 - acc: 0.8734
Epoch 17/50
22857/22857 [==============================] - 1s 37us/sample - loss: 0.3632 - acc: 0.8737
Epoch 18/50
22857/22857 [==============================] - 1s 39us/sample - loss: 0.3634 - acc: 0.8740
Epoch 19/50
22857/22857 [==============================] - 1s 37us/sample - loss: 0.3632 - acc: 0.8733
Epoch 20/50
22857/22857 [==============================] - 1s 40us/sample - loss: 0.3627 - acc: 0.8737
Epoch 21/50
22857/22857 [==============================] - 1s 46us/sample - loss: 0.3628 - acc: 0.8736
Epoch 22/50
22857/22857 [==============================] - 1s 46us/sample - loss: 0.3628 - acc: 0.8734
Epoch 23/50
22857/22857 [==============================] - 1s 38us/sample - loss: 0.3624 - acc: 0.8738
Epoch 24/50
22857/22857 [==============================] - 1s 39us/sample - loss: 0.3625 - acc: 0.8743
Epoch 25/50
22857/22857 [==============================] - 1s 41us/sample - loss: 0.3621 - acc: 0.8741
Epoch 26/50
22857/22857 [==============================] - 1s 37us/sample - loss: 0.3622 - acc: 0.8741
Epoch 27/50
22857/22857 [==============================] - 1s 36us/sample - loss: 0.3620 - acc: 0.8740
Epoch 28/50
22857/22857 [==============================] - 1s 35us/sample - loss: 0.3616 - acc: 0.8740
Epoch 29/50
22857/22857 [==============================] - 1s 38us/sample - loss: 0.3617 - acc: 0.8738
Epoch 30/50
22857/22857 [==============================] - 1s 36us/sample - loss: 0.3618 - acc: 0.8735
Epoch 31/50
22857/22857 [==============================] - 1s 38us/sample - loss: 0.3615 - acc: 0.8738
Epoch 32/50
22857/22857 [==============================] - 1s 35us/sample - loss: 0.3617 - acc: 0.8739
Epoch 33/50
22857/22857 [==============================] - 1s 38us/sample - loss: 0.3616 - acc: 0.8743
Epoch 34/50
22857/22857 [==============================] - 1s 37us/sample - loss: 0.3614 - acc: 0.8740
Epoch 35/50
22857/22857 [==============================] - 1s 37us/sample - loss: 0.3613 - acc: 0.8738
Epoch 36/50
22857/22857 [==============================] - 1s 37us/sample - loss: 0.3615 - acc: 0.8736
Epoch 37/50
22857/22857 [==============================] - 1s 36us/sample - loss: 0.3613 - acc: 0.8743
Epoch 38/50
22857/22857 [==============================] - 1s 36us/sample - loss: 0.3611 - acc: 0.8737
Epoch 39/50
22857/22857 [==============================] - 1s 35us/sample - loss: 0.3612 - acc: 0.8736
Epoch 40/50
22857/22857 [==============================] - 1s 37us/sample - loss: 0.3611 - acc: 0.8738
Epoch 41/50
22857/22857 [==============================] - 1s 35us/sample - loss: 0.3608 - acc: 0.8738
Epoch 42/50
22857/22857 [==============================] - 1s 37us/sample - loss: 0.3607 - acc: 0.8737
Epoch 43/50
22857/22857 [==============================] - 1s 37us/sample - loss: 0.3611 - acc: 0.8741
Epoch 44/50
22857/22857 [==============================] - 1s 42us/sample - loss: 0.3610 - acc: 0.8738
Epoch 45/50
22857/22857 [==============================] - 1s 43us/sample - loss: 0.3608 - acc: 0.8741
Epoch 46/50
22857/22857 [==============================] - 1s 36us/sample - loss: 0.3609 - acc: 0.8740
Epoch 47/50
22857/22857 [==============================] - 1s 36us/sample - loss: 0.3607 - acc: 0.8741
Epoch 48/50
22857/22857 [==============================] - 1s 35us/sample - loss: 0.3608 - acc: 0.8737
Epoch 49/50
22857/22857 [==============================] - 1s 36us/sample - loss: 0.3607 - acc: 0.8739
Epoch 50/50
22857/22857 [==============================] - 1s 37us/sample - loss: 0.3605 - acc: 0.8736
7620/7620 - 0s - loss: 0.3688 - acc: 0.8723
Loss: 0.368820265084114, Accuracy: 0.872309684753418